<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semicolon.ddyzd_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ul.activity.ChattingPage" />
        <activity android:name=".ul.activity.ChatList" />
        <activity android:name=".ul.activity.LoginActivity" />
        <activity android:name=".ul.activity.ClubDetails" />
        <activity
            android:name=".ul.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ul.activity.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>